<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      >
<head th:replace="homes/fragments :: html_head"></head>
<style>
  .not-rent{
    display: none;
  }
</style>
<body>

<header th:replace="homes/fragments::header"></header>

  <!--/ Intro Single star /-->
  <section class="intro-single">
    <div class="container" th:object="${room}">
      <div class="row">
        <div class="col-md-12 col-lg-8">
          <div class="title-single-box">
            <h1 class="title-single">304 Blaster Up</h1>
            <span class="color-text-a" th:text="*{address}"></span>
          </div>
        </div>
        <div class="col-md-12 col-lg-4">
          <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="index.html">Home</a>
              </li>
              <li class="breadcrumb-item">
                <a href="property-grid.html">Properties</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                304 Blaster Up
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </section>
  <!--/ Intro Single End /-->

  <!--/ Property Single Star /-->
  <section class="property-single nav-arrow-b">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div id="property-single-carousel" class="owl-carousel owl-arrow gallery-property">
            <div th:each="img:${imageList}">
              <div class="carousel-item-b" >
                <img  th:src="@{'/images/getimage/'+ ${img.name}}" alt="" style="width: 1200px; height: 600px">
              </div>
            </div>

          </div>
          <div class="row justify-content-between" th:object="${room}">
            <div class="col-md-5 col-lg-4">
              <div class="property-price d-flex justify-content-center foo">
                <div class="card-header-c d-flex">
                  <div class="card-box-ico">
                    <span class="ion-money">$</span>
                  </div>
                  <div class="card-title-c align-self-center">
                    <h5 class="title-c" th:text="*{price}" ></h5>
                  </div>
                </div>
              </div>
              <div class="property-summary">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="title-box-d section-t4">
                      <h3 class="title-d">Quick Summary</h3>
                    </div>
                  </div>
                </div>
                <div class="summary-list">
                  <ul class="list">
                    <li class="d-flex justify-content-between">
                      <strong>Property ID:</strong>
                      <span th:text="*{id}"></span>
                    </li>
                    <li class="d-flex justify-content-between">
                      <strong>Location:</strong>
                      <span th:text="' '+ *{address}"></span>
                    </li>
                    <li class="d-flex justify-content-between">
                      <strong>Property Type:</strong>
                      <span>House</span>
                    </li>
                    <li class="d-flex justify-content-between">
                      <strong>Status:</strong>
                      <span>Sale</span>
                    </li>
                    <li class="d-flex justify-content-between">
                      <strong>Area:</strong>
                      <span th:text="*{area}+'m'">
                        <sup>2</sup>
                      </span>
                    </li>
                    <li class="d-flex justify-content-between">
                      <strong>Beds:</strong>
                      <span th:text="*{beds}"></span>
                    </li>
                    <li class="d-flex justify-content-between">
                      <strong>Baths:</strong>
                      <span th:text="*{baths}"></span>
                    </li>
                    <li class="d-flex justify-content-between">
                      <strong>Garage:</strong>
                      <span th:text="*{garage}"></span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-7 col-lg-7 section-md-t3">
              <div class="row">
                <div class="col-sm-12">
                  <div class="title-box-d">
                    <h3 class="title-d">Property Description</h3>
                  </div>
                </div>
              </div>
              <div class="property-description">
                <p class="description color-text-a" th:text="${room.postContent}">
                </p>
              </div>
              <div class="property-description">
                <div class="title-box-d">
                  <h3 class="title-d">Status</h3>
                </div>
              </div>
              <div class="property-description ">
                <span class=" price-a status"  th:text="${room.statusByStatusId.name}" style="color: black; margin-right: 100px">

                </span>
                <a type="button" class="btn btn-a btn-rent" th:href="@{'/addContract/user/'+${currentUserId}(roomId=${room.id})}">Rent</a>
              </div>

            </div>
          </div>
        </div>

        <div class="col-md-12">
          <div class="row section-t3">
            <div class="col-sm-12">
              <div class="title-box-d">
                <h3 class="title-d">Contact Agent</h3>
              </div>
            </div>
          </div>
          <div class="row" th:object="${room.usersByUserId}">
            <div class="col-md-6 col-lg-4">
              <img  th:src="@{'/images/getimage/'+ *{image}}"  alt="" class="img-fluid" style="height: 400px">
            </div>
            <div class="col-md-6 col-lg-4">
              <div class="property-agent">
                <h4 class="title-agent" th:text="*{fullname}"></h4>
                <p class="color-text-a">
                  Nulla porttitor accumsan tincidunt. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet
                  dui. Quisque velit nisi,
                  pretium ut lacinia in, elementum id enim.
                </p>
                <ul class="list-unstyled">
                  <li class="d-flex justify-content-between">
                    <strong>Phone:</strong>
                    <span class="color-text-a" th:text="*{phone}"></span>
                  </li>
                  <li class="d-flex justify-content-between">
                    <strong>Email:</strong>
                    <span class="color-text-a" th:text="*{email}"></span>
                  </li>

                </ul>
                <div class="socials-a">
                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <a href="#">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#">
                        <i class="fa fa-pinterest-p" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#">
                        <i class="fa fa-dribbble" aria-hidden="true"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-12 col-lg-4">
              <div class="property-contact">
                <form class="form-a">
                  <div class="row">
                    <div class="col-md-12 mb-1">
                      <div class="form-group">
                        <input type="text" class="form-control form-control-lg form-control-a" id="inputName"
                          placeholder="Name *" required>
                      </div>
                    </div>
                    <div class="col-md-12 mb-1">
                      <div class="form-group">
                        <input type="email" class="form-control form-control-lg form-control-a" id="inputEmail1"
                          placeholder="Email *" required>
                      </div>
                    </div>
                    <div class="col-md-12 mb-1">
                      <div class="form-group">
                        <textarea id="textMessage" class="form-control" placeholder="Comment *" name="message" cols="45"
                          rows="8" required></textarea>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <button type="submit" class="btn btn-a">Send Message</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/ Property Single End /-->

<footer th:replace="homes/fragments::footer"></footer>
<div th:replace="homes/fragments :: scripts"></div>
<script>
  const $$ = document.querySelectorAll.bind(document);
  const $ = document.querySelector.bind(document);
  const status = $('.status');
  const btnRent = $('.btn-rent')
  //Nav Link
  const navLink = $$('.nav-link')
  navLink.forEach(nav=>{
    nav.classList.remove('active')
  })
  const property = $('.propertyPage')
  property.classList.add('active')

  if(status.textContent === "rented"){
    status.style.border = '2px solid red'
    status.style.color = 'red'
    btnRent.classList.add('not-rent')

  }else if(st.textContent === 'processing'){
    status.style.border = '2px solid yellow'
    status.style.color = 'yellow'
    btnRent.classList.add('not-rent')
  }

</script>
</body>
</html>
