@model WebApplication13.Models.Exam

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Exam</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="subject" class="control-label"></label>
                <input asp-for="subject" class="form-control" />
                <span asp-validation-for="subject" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="start_time" class="control-label"></label>
                <input asp-for="start_time" class="form-control" />
                <span asp-validation-for="start_time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="exam_date" class="control-label"></label>
                <input asp-for="exam_date" class="form-control" />
                <span asp-validation-for="exam_date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="exam_duration" class="control-label"></label>
                <input asp-for="exam_duration" class="form-control" />
                <span asp-validation-for="exam_duration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="classroom" class="control-label"></label>
                <input asp-for="classroom" class="form-control" />
                <span asp-validation-for="classroom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="faculty" class="control-label"></label>
                <input asp-for="faculty" class="form-control" />
                <span asp-validation-for="faculty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="status" class="control-label"></label>
                <input asp-for="status" class="form-control" />
                <span asp-validation-for="status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
