<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Add Employee</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.12.1/datatables.min.css"/>

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          crossorigin="anonymous" />
</head>
<body>

<div class="container">

    <h3>Add New Employee</h3>
    <hr/>

    <form   method="POST" class="table" id="employee-form">

        <input type="text"  class="form-control col-4 mb-4" placeholder="Enter Name" />

        <input type="text"  class="form-control col-4 mb-4" placeholder="Enter email" />

        <input type="text"  class="form-control col-4 mb-4" placeholder="Enter department" />
        <input type="file" name="file" class="form-control col-4 mb-4" placeholder="Enter avatar" />

        <button type="submit" class="btn btn-primary col-2">Save</button>
        <input type="hidden"  />

    </form>
    <hr/>
    <a th:href="@{/list}">Back to list</a>
</div>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#employee-form").DataTable({
                "ajax": '../api/employees/{id}',

            })

        })
    </script>
</body>
</html>